<HTML>
<HEAD>
   <TITLE>TANGO Servers page</TITLE>
</HEAD>
<BODY TEXT="#000000" BGCOLOR="#FFFFFF" LINK="#0000FF" VLINK="#7F00FF" ALINK="#FF0000">

<TABLE BORDER="0" WIDTH="100%">
    <TR>
        <TD ALIGN="left">
			<A HREF=http://www.esrf.fr>
			<IMG SRC="http://www.esrf.fr/gifs/logo/80.gif" BORDER=0></A>
		</Td>
        <TD ALIGN="center">
			<A HREF=http://www.elettra.trieste.it/>
			<IMG SRC="http://www.esrf.fr/tango/elettra_logo.gif" BORDER=0></A>

		</Td>
        <TD ALIGN="right">
			<A HREF=http://www.synchrotron-soleil.fr/>
			<IMG SRC="http://www.esrf.fr/tango/soleil_logo.gif" BORDER=0></A>
		</Td>
    	 <Td>
			<H1><FONT COLOR="#0000FF">
			<Center>TANGO <Br> Device Server Classes
			</Center></FONT>
    	</Td>
    </TR>
</TABLE>

<Br>
<HR WIDTH="100%"></H5>
<Br>
<Center><b>
The source files of following class could be downloaded by clicking on it.
<Br>
WARNING:
These source files have been developped for a specific usage
and are not guaranteed for all platforms.
</Center></b>
<Br>
<Br>
