<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.tango.pogo.pogo_gui/code/org/tango/pogo/pogo_gui/Pogo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.tango.pogo.pogo_gui.Pogo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.tango.pogo.pogo_gui"/>
</launchConfiguration>
